html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
}

#map {
  height: 100%;
  width: 100%;
}

/* Popup estilo Ellit */
.leaflet-popup-content-wrapper {
  background: #0f172a;
  color: white;
  border-radius: 10px;
  border: 2px solid #00b4ff;
}

.leaflet-popup-tip {
  background: #00b4ff;
}

/* Capa de riesgo por país */
.ellit-risk-circle {
  border-radius: 50%;
  opacity: 0.8;
  box-shadow: 0 0 8px rgba(255, 0, 128, 0.8);
}
